@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.99);
  background-color: rgba(241, 241, 241, 0.95);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #d82323;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* header */
header {
  padding: 1em;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.1em;
  font-weight: 300;
  width: 60vw;
  margin: 0 auto;
}
.navbar a {
  margin: 1em;
  color: rgba(0, 0, 0, 0.99);
}
.navbar a:hover {
  margin: 1em;
  color: #d82323;
  font-weight: 600;
}

.website-meta {
  margin-top: 1em;
}
.sw-quote {
  font-size: 0.8em;
  font-weight: 400;
}

.artist-container {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, auto);
}
.album-container {
  text-align: center;
  padding: 1em;
  margin-top: 1em;
}
.album-cover {
  width: 90%;
  height: auto;
  max-width: 160px;
  margin-bottom: 0.5em;
}
.album-title {
  font-weight: 600;
  margin-bottom: 0.5em;
  color: rgba(0, 0, 0, 0.99);
}
.album-artist {
  font-size: 0.9em;
  font-weight: 400;
  margin-bottom: 1em;
  color: rgba(0, 0, 0, 0.99);
}
.album-view-btn {
  width: 100px;
  text-transform: uppercase;
  font-weight: 400;
}

footer {
  color: hsl(0, 0%, 91%);
  /* background-color: hsla(0, 0%, 0%, 0.9); */
  background-color: rgba(0, 0, 0, 0.99);
  height: 12vh;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  text-align: center;
  font-weight: 500;
}

.social-nav {
  display: flex;
  justify-content: space-between;
  width: 30vw;
  margin: 0 auto;
  font-size: 2em;
}
.social-nav a {
  color: hsl(0, 0%, 91%);
  margin: 0.3em;
}
.social-nav a:hover {
  color: #d82323;
}

.martin-text {
  margin-bottom: 0.5em;
}

/* Bio SW */

.bio-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin: 1em;
}
.bio-container p {
  margin-top: 0.5em;
}

/* martin */

.stack {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 30vw;
  margin: 0 auto;
  font-size: 2em;
}
.stack i {
  color: rgba(0, 0, 0, 0.99);
  margin: 0.3em;
}
.stack i:hover {
  color: #d82323;
}

/*  */
@media (min-width: 480px) {
  .artist-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
  }
}

@media (min-width: 1024px) {
  .artist-container {
    display: grid;
    grid-template-columns: repeat(5, auto);
  }
}
